@charset "UTF-8";
/* CSS Document created by Matin Lotfaliei and Monisha Ravindra */
@import url('normalize.css');
@import url('https://fonts.googleapis.com/css?family=Armata&display=swap');
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
	font-family: 'Armata', sans-serif;
	background-color:#aaaaaa;
	font-size:.9em;
	margin: 0;
}

header {
	display: grid;
	grid-template-areas: "logo   title  search"
						 "logo   title  nav";
	background-color: rgba(0,0,0,0.5);
	width: 100%;	
	height: 150px;
	position: absolute;
	padding: 0 calc(50% - 480px);
	align-items: center;
}

header h1 {
	grid-area: title;
	font-size:1.3em;
	font-weight:700;	
	color: white;
}

header nav {
	grid-area: nav;	
	align-self: end;
	justify-self: right;
}

header nav ul {
	display: flex;	
	flex-direction: row;	
	margin: 0;
	padding: 0;
}

header nav ul ul {
	background-color: gray;
	position: absolute;	
	display: flex;
	visibility: hidden;
	flex-direction: column;
	width: 1024px;
	left: 0;
	top: 150px;
	left: calc(50% - 512px);
	padding: 20px;
	z-index: 2;
	flex-wrap: wrap;
	height: 200px;
}

header #lectures:hover ul, header #lectures ul:hover {
	visibility: visible;
}

header nav ul ul li {
	padding: 10px;
}

header #header_logo {
	grid-area: logo;
	width: 75px;
	height: 75px;		
	margin: 10px;
}

header #search_field {
	grid-area: search;
	justify-self: right;
}

#topbar {	
	background-color: #323232;	
	height: 25px;
	padding-top: 5px;
	padding-left: calc(50% - 480px);
	color:lightgray;
}
#wrap {	
	background-color:lightgray;
	width: 1024px;
	margin-left:auto;
	margin-right:auto;
	padding-top: 150px;
}

#wrap.home {
	background-color:#ffffff;
	padding:0;
}

#wrap h1 {
	background-color:lightgray;
	padding: 20px;
	color: navy;
	margin: 0;
	font-weight: bold;
	font-size: 20px;
}

main {
	padding: 10px;
	background-color:#ffffff;
	min-height: 300px;
}

#header_image1 , #header1 {	
	width: 100%;
	height: auto;
} 

#header_image1 img {
	display: block;
}

#logocard {
	position: absolute;	
	transform: translate(50px,-200px);
	width: 200px;
	height: 150px;
	background: yellow;
	padding: 20px;
	color: navy;
	font-weight: bold;
	font-size: 20px;
}

#logocard a {	
	display: block;
	background-color: #57a1ff;
	color: white;
	text-decoration: none;
	width: 100px;
	padding: 10px;
	font-size: 15px;
	margin-top: 10px;
	text-align: center;
}

.fa-search {color:#aaa;
	margin-left:5px;
margin-right:5px;
align-self: center;}

.search-box {background: #5d5d5d;		
  border: 0;
  color: white;
  padding: 2px;
	font-size:.8em;
  }

header nav ul li {
	list-style-type:none;
}
header nav ul li a {
	padding: 10px 10px;
	color: white;
	text-decoration: none;	
	display:block;
}
header nav ul li a:hover {
	font-weight: bold;
}
#card1 {
	padding-left:10px;
	padding-right:20px;
	background-color:#EAEAEA;
}

#card2{
	color:white;
	background-color:#003c71;
	padding-left: 10px;
	padding-right: 20px;
}

#card3 {
	padding-left:30px;
	padding-right:20px;
	background-color:#EAEAEA;
}

#card_layout, #card_layout2, #card_layout3 {
	padding-top:20px;
	padding-bottom:20px;
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
	background-color:#aaaaaa;
}

#card22, #card24, #card26 {
	color:white;
	background-color:#003c71;
	padding-left: 10px;
	padding-right: 20px;
}
#card21, #card23, #card25 {
	padding-left:30px;
	padding-right:20px;
	background-color:#EAEAEA;
}

#card32{
	color:white;
	background-color:#003c71;
	padding-left: 10px;
	padding-right: 20px;
}
#card31, #card33 {
	padding-left:30px;
	padding-right:20px;
	background-color:#EAEAEA;
}

#card_layout31{
	display:grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 20px;
	padding-bottom:20px;
	background-color:#aaaaaa;
}

#card34, #card35 {
	color:white;
	background-color:#003c71;
	padding-left: 10px;
	padding-right: 20px;
}

#sitemap {
	display:grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 250px;
	font-size:.9em;
	background-color: #727272;
	color:lightgray;
}

#footernav li {
	list-style-type:none;
}
#footernav li a {
	padding: 5px;
	color: white;
	text-decoration: none;	
	display: block;
}
#footernav li a:hover {
	font-weight: bold;
}

footer {
	background-color:#2d2d2d;
	color:lightgray;
	padding: 10px;
	font-size:.7em;
	text-align: center;
}

@media screen and (max-width: 1024px)
{
	#wrap {
		width: 100%;
	}

	#card_layout, #card_layout2, #card_layout3 {		
		grid-template-columns: 1fr 1fr;
	}

	header nav ul ul {		
		width: 100%;		
		left: 0;
		top: 150px;
		left: 0;	
		height: 300px;
	}
}

@media screen and (max-width: 740px)
{
	#wrap {
		width: 100%;
	}

	#card_layout, #card_layout2, #card_layout3, #card_layout31 {		
		grid-template-columns: 1fr;
	}

	#wrap {
		padding-top: 0;
	}

	header {		
		grid-template-areas: "logo   title"							 
							 "search search"
							 "nav    nav";
		height: unset;
		position: unset;
	}

	header #search_field, header nav {
		justify-self: center;
	}

	header h1 {
		justify-self: left;		
	}

	header nav > ul {
		flex-direction: column;
	}

	header nav > ul > li {
		text-align: center;
	}

	header nav > ul > li a {
		font-size: 20px;
		padding: 10px;			
	}	

	header nav ul ul {
		visibility: visible;
		position: unset;
		flex-wrap: nowrap;
		overflow: scroll;		
	}

	#logocard {
		position: unset;
		width: 100%;
		transform: none;
		height: auto;
	}

	#sitemap {		
		grid-column-gap: 10px;		
	}
}